{% extends 'index.html' %}


{% block content %}

    <div class="container-fluid pt-5">
        <div class="row justify-content-center">
            <form method="post">
                {% csrf_token %}
                <label>
                    File:
                    <input type="file" name="{{ form.file.naem }}">
                </label><br>
                <label>
                    File description:
                    <textarea type="text" name="{{ form.file_description.name }}" cols="40"></textarea>
                </label><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {% if success %}
        {{ success }}
    {% endif %}

    {% if error_message %}
        <p style="color: red">{{ error_message }}</p>
    {% endif %}

{% endblock %}